@model IntoTravel.Web.Models.BlogEntryDisplayModel

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <h1>@Model.Title</h1>
         <i>@Model.FriendlyDateDisplay </i>
                <hr />


               @if (Model.Photos != null && Model.Photos.Count > 1)
               {
                    <h3>Photos</h3>
                    <div class="gallery">
                        <div class="row">
                            @foreach (var photo in Model.Photos)
                            {

                                <div class="col-md-12">
                                    <div class="thumbnail">

                                        <a href="@photo.PhotoCdnUrl" data-caption="@photo.Title">
                                            <img src="@photo.PhotoCdnUrl" alt="@photo.Title" title="@photo.Title" style="width:100%" />
                                        </a>
                                        <div class="caption">
                                            @if (!string.IsNullOrWhiteSpace(photo.Description))
                                            {
                                                 
                                                    @Html.Raw(photo.Description)
                                                
                                            }
                                            else
                                            {

                                                <br />

                                            }
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>

                    </div>
               }

                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>




</article>
<hr /> 
